<%- include("partials/header"); -%>


  
   
  <div class="middle-container">
    <div class="profile1">
      <img src="images/abhay1.png" width="200" height="200" alt="">
      <h2> Abhay Raina</h2>
      <p class="intro"><ul><li>Name: Abhay Raina</li><li>Company: 5 AM STUDIOS</li><li>Post: Director(Owner of 5 AM STUDIOS)</li><a href="mailto:abhayrainaofficial@gmail.com">Email</a></ul>.</p>
    </div>
    <div class="profile">
      <img src="images/ak1.png" width="200" height="200" alt="">
      <h2>Ayush Katoch</h2>
      <p class="intro"><ul><li>Name: Ayush Katoch</li><li>Company: 5 AM STUDIOS</li><li>Post: Partner(Creater of this website)</li><li><a href="mailto:ayushkatochhp@gmail.com">Email</li></ul>.</p>
    </div>
    <div class="profile">
      <img src="images/akshit1.png" width="200" height="200" alt="">
      <h2>Akshit Sharma</h2>
      <p class="intro"><ul><li>Name: Akshit Sharma</li><li>Company: 5 AM STUDIOS</li><li>Post: Partner(Lead Actor)</li><li><a href="mailto:akshit04102003@gmail.com">Email</li></ul>.</p>
    </div>
    </div>

    <div class="profile1">
      <img src="images/anirudh.png" width="200" height="200" alt="anirudh">
      <h2> Anirudh Deol</h2>
      <p class="intro"><ul><li>Name: Anirudh Deol</li><li>Company: 5 AM STUDIOS</li><li>Post: Member</li><a href="mailto:ayushkatochhp@gmail.com">Email</a></ul>.</p>
    </div>

    <div class="profile1">
      <img src="images/manik2.png" width="200" height="200" alt="Manik Panjolia">
      <h2> Manik Panjolia</h2>
      <p class="intro"><ul><li>Name: Manik Panjolia</li><li>Company: 5 AM STUDIOS</li><li>Post: Member(Big Bro)</li><a href="mailto:ayushkatochhp@gmail.com">Email</a></ul>.</p>
    </div>

    <div class="profile1">
      <img src="images/shivam.png" width="200" height="200" alt="Shivam Sharma">
      <h2> Shivam Sharma</h2>
      <p class="intro"><ul><li>Name: Shivam Sharma</li><li>Company: 5 AM STUDIOS</li><li>Post: Special Actor</li><a href="mailto:ayushkatochhp@gmail.com">Email</a></ul>.</p>
    </div>

    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>We welcome you ANYTIME !!!</h3>
      <p class="contact-message">All the information is absolutely right taken from the official websites of INDIA.</p>
      <a class="button" href="mailto:katochayushhp@gmail.com">CONTACT US</a>
    </div>
  </div>

<%- include("partials/footer"); -%>
