<%- include("partials/header"); -%>



<header class="a8">
    <h1>Animated Counter</h1>
</header>
<section class="counters">
    <div class="container a9">
        <div>
            <i class="fas fa-address-book fa-4x"></i>
            <div class="counter count1" >0</div>
            <h3>Total Page Views</h3>
        </div>
        <div>
            <i class="fas fa-users fa-4x"></i>
            <div class="counter count2"><h1><%= count %></h1></div>
            <h3>Users</h3>
        </div>
        <div>
            <i class="fas fa-clock fa-4x"></i>
            <div class="counter count3">0</div>
            <h3>Average Time Spent</h3>
        </div>
       
    </div>

    <a class="btn b1 btn-light btn-lg" href="/logout" role="button">Log Out</a>
</section>




<%- include("partials/footer"); -%>
