<%- include("partials/header"); -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container c2">
      <h1 class="display-4">oops</h1>
      <p class="lead">Something Went Wrong</p>
    </div>
  </div>

  <%- include("partials/footer"); -%>