
<%- include("partials/header"); -%>
<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carouselExampleSlidesOnly" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid" data-intervel="1000">
        <h2 class="testimonial-text"></h2>
        <img class="testimonial-image"  class="d-block w-100" src="images/studiologo.jpg" alt="dog-profile">
        <em>Nurpur, Kangra, Himachal Pradesh</em>
      </div>
      <div class="carousel-item container-fluid" data-intervel="1000">
        <h2 class="testimonial-text"></h2>
        <img class="testimonial-image"  class="d-block w-100" src="images/slide1.jpg" alt="lady-profile">
        <em>Manik Panjolia and Akshit Sharma</em>
      </div>
      <div class="carousel-item container-fluid" data-intervel="1000">
        <h2 class="testimonial-text"></h2>
        <img class="testimonial-image"  class="d-block w-100" src="images/slide2.jpg" alt="lady-profile">
        <em>From Left:
          Vaibhav Gautam, 
          Ayush Katoch,
          Akshit Sharma,
          Manik Panjolia,
          Shivam Sharma,
          Anirudh Deol

        </em>
      </div>
  
    <div class="carousel-item container-fluid" data-intervel="1000">
      <h2 class="testimonial-text"></h2>
      <img class="testimonial-image"  class="d-block w-100" src="images/slide3.jpg" alt="lady-profile">
      <em>Anirudh Deol And Ayush Katoch</em>
    </div>
    <div class="carousel-item container-fluid" data-intervel="1000">
      <h2 class="testimonial-text"></h2>
      <img class="testimonial-image"  class="d-block w-100" src="images/slide4.jpg" alt="lady-profile">
      <em>Akshit Sharma</em>
    </div>
    <div class="carousel-item container-fluid" data-intervel="1000">
      <h2 class="testimonial-text"></h2>
      <img class="testimonial-image"  class="d-block w-100" src="images/slide5.jpg" alt="lady-profile">
      <em>Shooting Scene of "Grey" movie</em>
    </div>

    <div class="carousel-item container-fluid" data-intervel="1000">
      <h2 class="testimonial-text"></h2>
      <img class="testimonial-image"  class="d-block w-100" src="images/manik3.jpeg" alt="lady-profile">
      <em>Manik Panjolia</em>
    </div>
    
  </div>
  
  </div>

</section>


  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i></i>
        <h3 class="feature-title">Made With Love </h3>
        <p>All our content is made with dedication and love(Abhay Raina)</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Perfect Execution</h3>
        <p>We execute our scenes with full of hardwork and amazing dedication(Ayush Katoch)</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Leads to Success</h3>
        <p>Affection towards work and dedication is our success mantra(Akshit Sharma)</p>
      </div>
    </div>


  </div>
</section>

<section>

  <h2 class="section-heading">Message from Director</h2>
  <p>Abhay Raina</p>

 

</section>

<section >
  <div class="jumbotron">
    <h1 class="display-4">Hello to All my Viewers</h1>
    <p class="lead">I believe in  creativity and simplicity. Its the reason for our successful projects</p>
    <hr class="my-4">
    <p>I would like to thanks Ayush Katoch for making this website and our other 5 AM Members for their infinite cooperation in all the projects</p>
    
  </div>
  <div>
    <i class="fas fa-address-book fa-4x"></i>
    <div class=" counter count3"><h1 class="location"></h1></div>
    <h3>Page Views</h3>
</div>
</section>



<%- include("partials/footer"); -%>
