<%- include("partials/header"); -%>
<section id="submit" class="text-center">
   
        <form action ="/" class="form-signin" method="POST">
      <img class="mb-4" src="images/logo12.png" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up to the 5 AM  Fan Site by Routein Relife</h1>
      
      
      <input type="text"  name="fName" class="form-control top" placeholder="First Name" required-autofocus>
      <input type="text"  name="lName" class="form-control middle" placeholder="Last Name" required>
      <input type="email" name="email" class="form-control bottom" placeholder="Email" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
         
     
    </form>
</section>


   
    


<%- include("partials/footer"); -%>