<%- include("partials/header"); -%>

<section class="v1 white-section" id="features">
  <iframe
    class="frame1"
    width="560"
    height="400"
    src="https://www.youtube.com/embed/uCb_CiwpVco"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    class="frame1"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/mRN7YFMtDUY"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    class="frame1"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/h7s7O_wlqR0"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    class="frame1"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/TOo52ogcoUQ"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <div class="page-view">
    <i class="fas fa-address-book fa-4x"></i>
    <div class="counter count3">
      <h1 class="location"></h1>
      <h1><%= videoPageCounter%></h1>
    </div>
    <h3>Page Views</h3>
  </div>
</section>

<script>
  const homePageViews = document.querySelector(".location");
  homePageViews.innerHTML = `<h1> The location of this page is  ${window.location.pathname}</h1>`;
</script>

<%- include("partials/footer"); -%>
