<%- include("partials/header"); -%>


<section class="v1 white-section" id="features">
    <iframe width="560" height="400" src="https://www.youtube.com/embed/uCb_CiwpVco" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
   
        <h1>Web Series: Online Pariksha </h1>
<h2>Akshit Sharma</h2>
<h2>Anmol Pathania</h2>
<h2>Ayush Katoch</h2>
<h2>Nandhini Gupta</h2>
<h1>Directed by Abhay Raina</h1>




<section class="v2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mRN7YFMtDUY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<h1>Movie Name: Grey </h1>
<h2>Akshit Sharma</h2>
<h2>Manik Panjolia</h2>
<h2>Ayush Katoch</h2>
<h2>Anirudh Deol</h2>
<h2>Vaibhav Gautam</h2>
<h1>Directed by Abhay Raina</h1>

<iframe class="frame1" width="560" height="315" src="https://www.youtube.com/embed/h7s7O_wlqR0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Movie Name: Shaka Laka Doom Doom</h1>
<h2>Actor: Mrigakshi Raina</h2>
<h2>Director: Abhay Raina</h2>


<iframe class="frame1" width="560" height="315" src="https://www.youtube.com/embed/TOo52ogcoUQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Album Name: Kasoor</h1>
<h2>Singer: Aditya Sharma</h2>
<h2>Director: Abhay Raina</h2>


    <div class="Views">
      <i class="fas fa-address-book fa-4x"></i>
      <div class="counter count3"><h1><%= videoPageViews %></h1></div>
      <h3>Page Views</h3>
  </div>


</section>



<%- include("partials/footer"); -%>
 
